li {
  list-style-type: none;
}

#chat {
  width: 400px;
  padding-top: 50px;
}

.messages-container {
  max-width: 400px;
  max-height: 400px;
}

#messages {
  width: 100%;
  height: 100%;
  overflow: auto;
}
/* TODO: Fix chat scrolling */
